<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Live Chat</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Sign In</h2>
        </div>
        <div class="form-container" id="signin-container">
            <input type="text" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button id="signinBtn">Sign In</button>
            <a href="/signin">Forgot password? Click here</a>
            <a href="/signup">Don't have an account? Sign Up</a>
        </div>
    </div>
    <script src="/signin.js"></script>
</body>
</html>
