body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 95vh;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.header {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    padding: 9px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdb;
    padding: 10px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    white-space: pre-wrap;
}

.sentMessage {
    background-color: #d1ffd6;
    align-self: flex-end;
    text-align: right;
}

.receivedMessage {
    background-color: #f1f1f1;
    align-self: flex-start;
    text-align: left;
}

.message-name {
    font-weight: bold;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.message.system {
    justify-content:center;
    align-items:center;
    text-align: center;
    color: red;
    background: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 10px;
}

.chat-input {
    border-radius: 0 0 15px 15px;
    display: flex;
    padding: 10px;
    background-color: #dbdbdb;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.2s;
}

#messageInput:focus {
    border-color: #007bff;
}

#sendBtn, #logoutBtn, #deleteAccountBtn {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
    transition: background-color 0.2s;
}

#sendBtn {
    background-color: #007bff;
    margin-left: 10px;
}

#logoutBtn, #deleteAccountBtn {
    background-color: #f72e2e;
    margin: 10px;
}

#sendBtn:hover{
    background-color: #0056b3;
}

#logoutBtn:hover, #deleteAccountBtn:hover {
    background-color: #d11919;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-container input {
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
}

.form-container input:focus {
    border-color: #007bff;
}

.form-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container a {
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    transition: color 0.2s;
}

.form-container a:hover {
    color: #0056b3;
}

.eMessage {
    text-align: center;
    margin-top: 20px;
    color: green;
    position: relative;
    top: 10px;
    font-size:25px;
}

.left-btn {
    background: transparent;
    border: none;
    padding: 0;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* For Modal*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.user-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.user-lable {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}

.user-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 5px 0;
}

.user-input[readonly] {
    background-color: #f5f5f5;
}

.editable-input {
    display: flex;
    align-items: center;
}

.edit-btn {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.passwd-lable {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}

.passwd-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 5px 0;
}

.modal-buttons {
    justify-content:center;
}

.submit-btn {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #f72e2e;
    transition: background-color 0.2s;
}

.delete-btn:hover {
    background-color: #d11919;
}

.close {
    color: #3a3a3a;
    border: none;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close:hover {
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
